.carm-flex {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    max-width: 100%;
    padding: 0 1.8rem;
}

.carm-flex>a {
    max-height: 180px;
}

.carm-c {
    background-color: #f6f6f6;
    border-top: 2px solid #B29647;
    border-bottom: 2px solid #B29647;
}

.carm-c p {
    margin: 2.4rem 0;
    padding: 0 2.6rem;
    font-family: Arial;
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
}

.carm-img {
    max-height: 180px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(70%) brightness(30%);
    transition: 0.8s
}

.carm-img:hover {
    filter: grayscale(0%) contrast(100%) brightness(100%);
    transition: 0.8s
}

@media screen and (max-width: 380px) {
    .carm-flex {
        padding: 0 0.2rem;
    }
}

alex {
    color: #370000;
}

elinor {
    color: #990000;
}

inna {
    color: #748934;
}
