@font-face {
    font-display: fallback;
    font-family: 'Gritstomper';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Gritstomper.otf');
}

@font-face {
    font-display: fallback;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/quicksand-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: fallback;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/merriweather-v30-latin-regular.woff2') format('woff2');
}

/*ALEX*/
#scp107 p {
    position: relative;
}

#scp107 p::before {
    position: absolute;
    top: 30%;
    left: 30%;
    content: "NOWHERE";
    font-weight: 700;
    font-size: 2.8rem;
    letter-spacing: 0.2rem;
}

#scp107 p:hover::before {
    font-size: 7rem;
    top: -126%;
    left: 0;
    color: #f6f6f6;
}

/*INNA*/
#scp339 p>span {
    color: green;
    font-weight: 700;
}

#scp339>div {
    position: relative;
}

#scp339>div:hover::before {
    position: absolute;
    top: 0;
    left: 1px;
    content: url(https://i.goopics.net/m51ntr.gif);
}

/*ELINOR*/
#scp149 p>span {
    color: #880808;
    font-weight: 700;
}

#scp149 img:first-child {
    object-position: 50% 40%;
}

#scp149 img:last-child {
    object-position: 50% 50%;
}

#scp149 img:first-child:hover {
    content: url(https://i.goopics.net/nzqlia.gif);
    object-position: 36% 90%;
}

#scp149 img:last-child:hover {
    content: url(https://i.goopics.net/6xb7hx.gif);
    object-position: 50% 50%;
}
